---
// FotoCompleta.astro
---

<section class="relative w-full">
  <!-- Imagen en su tamaño natural -->
  <img 
    src="/imagenes/m3.jpg" 
    alt="Foto de la pareja" 
    class="w-full h-auto object-cover"
  />
</section>